<h1>Welcome to Livecode!</h1>

<h2>1. Stripclub CRUD</h2>
<ul>
  <li>Scaffold Stripclub.</li>
  <li>Change root_path to index of Stripclubs.</li>
  <li>Add class table and table-striped to index table.</li>
  <li>Add some validations on the model Stripclub.</li>
  <li>Seed your database with 3 Stripclubs.</li>
  <li>Link the 'New Stripclub Button' to new page.</li>
  <li>Implement a search action on the navbar.</li>
</ul>

<h2>2. Reviews</h2>
<ul>
  <li>Create a model Review.</li>
  <li>Where do you insert the review form?</li>
  <li>How do you define your route to create a review?</li>
  <li>Create the ReviewsController and add a method create.</li>
  <li>Where do you display reviews?</li>
  <li>Link the notification envelope to a list of all reviews.</li>
  <li>Show the total number of reviews on the notification envelope</li>
</ul>

<h2>3. Go Crazy</h2>
